<%- include("partials/header.ejs") -%>


<h1><%= title %></h1>

<% posts.forEach(element =>{ %>
    <div>
        <h2><%= element.postTitle %></h2>
        <p><%= element.postContent %></p>
    </div>
<% }) %>

<%- include("partials/footer.ejs") -%>